/* CSS Reset by Eric Meyer
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Body CSS */

body {
  font-family: Arial, sans-serif;
}


footer {
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	height: 40px;
	background-color: #F2F2F2;
	border-top: 1px solid #DADADA;
}

footer a {
	font-size: 12px;
	text-decoration: none;
	color: #636363;
}

footer a:hover {
	text-decoration: underline;
}

img {
  width: 320px;
  height: 106px;
}

p {
  box-sizing: border-box;
  margin-top: 25px;
  font-size: 12px;
}

strong {
  color: #F00;
}

.lower-nav-left {
	float: left;
}

.lower-nav-left li {
	display: inline-block;
	box-sizing: border-box;
	margin-left: 24px;
	margin-top: 10px;
}

.lower-nav-right {
	float: right;
}

.lower-nav-right li {
	display: inline-block;
	margin-top: 10px;
	margin-right: 24px;
}

.logo-search {
  position: relative;
  text-align: center;
  margin: 150px auto 0;
  width: 500px;
	box-sizing: border-box;

}

.navbar {
	margin-top: 20px;
}

.nav-left a, .nav-right a {
	text-decoration: none;
	font-size: 12px;
	color: black;
}

.nav-left a:hover, .nav-right a:hover {
	text-decoration: underline;
}

.nav-left li {
	display: inline-block;
	box-sizing: border-box;
	margin-left: 16px;
}

.nav-right li {
	display: inline-block;
	box-sizing: border-box;
	float: right;
	margin-top: -15px;
	margin-right: 16px;
}

.search-bar {
  width: 500px;
  height: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 25px auto 25px;
	box-shadow: 2px 2px 3px #DADADA;
}

.search-button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 10px 22px 10px 22px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin: 2px 2px 0;
  color: #757575;
}

.sign-in button {
	color: white;
	background-color: #0080FF;
	padding: 6px 12px;
	margin-top: -12px;
	font-weight: bold;
	border: 1px solid #0080FF;
	border-radius: 2px;
}

.wellbeing {
  text-decoration: none;
  color: #00F
}

.wellbeing:hover {
  text-decoration: underline;
}
